<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <!-- <li>
                <a href="https://gitlab.com/harshrathi0553" title="gitlab" target='_blank'>
                    <i class="fab fa-gitlab"></i>
                </a>
            </li> -->
            <li>
                <a href="https://github.com/HRathi553" title="github" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/harsh-rathi-7965041a6/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/hrathi_0/" target='_blank'>
                  <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:harshrathi0553@gmail.com" target='_blank'>harshrathi0553@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <!-- <a  href="" target="_blank" rel="nofollow noopener noreferrer">
            <div></div>
        </a>
        <a  href="" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2"></div>
        </a> -->
    </div>

</footer>
