<section class="section banner">
    <div [@bannerTrigger] class="container">



        <div class="section-box-banner">
            <div class="content">

                <div class="blob-effect">
                    <span></span>
                    <span></span>
                    <span></span>
                    </div>

                <div>
                    <h1>Hey Stranger, Myself</h1>
                </div>
                <div class='banner-title'>
                    <h2>Harsh Rathi.</h2>
                    <h3>Front-end Developer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">
                        I have <span class='underline'>1+ years of experience</span> developing Frontend, Interfaces,
                        and Technological solutions to make the web a better place. I am dedicated to writing and refactoring clean,
                        reusable, and scalable code in <span class='underline'>Angular</span> and also <span class='underline'>Node, Postgres DB</span>
                        applying good practices and development standards.

                    </p>
                    <p class="mt-4">
                      Mail : <span class="underline">harshrathi0553@gmail.com</span>
                    </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a href="mailto:harshrathi0553@gmail.com" target="_blank" class="main-btn">
                    Get In Touch
                </a>
            </div>
        </div>
    </div>
</section>
